*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Общие стили */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}

/* Контейнер Header */
.header-container {
  display: flex;
  justify-content: space-between; /* Элементы по краям */
  align-items: center;
  width: 100%;
  padding: 0 156px;
  background: #fff;
  height: 72px;
}

/* Общие стили для логотипа */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin: 0;
}

/* Вторая часть логотипа */
.logo-secondary {
  color: #2e2f42; /* Цвет второй части логотипа */
}

.menu-list {
  display: flex; /* Включаем горизонтальное размещение элементов */
  list-style: none; /* Убираем маркеры списка */
  margin: 0; /* Убираем внешние отступы */
  padding: 0; /* Убираем внутренние отступы */
}

.menu-link {
  text-decoration: none; /* Убираем подчеркивание */
  color: #333; /* Цвет текста */
  font-size: 16px; /* Размер шрифта */
  font-weight: 500; /* Полужирное начертание */
  padding: 0 20px;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
  text-decoration: underline;
}

/* Список контактов */
.contact-list {
  list-style: none;
  font-style: normal;
  display: flex;
  padding: 0;
  margin: 0;
}

/* Элементы списка контактов */
.contact-item {
  display: flex;
}

/* Ссылки контактов */
.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  display: flex;
  padding: 0 20px;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* Секция # 1 "Hero" */
.hero-section {
  background-color: #2e2f42;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 600px;
  text-align: center;
}

.hero-title {
  color: #fff;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  padding-top: 188px;
  text-align: center;
}

.button {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  margin: 48px auto 0; /* Центрируем по горизонтали */
  display: block; /* Необходимо для работы margin: auto */
  padding: 16px 32px;
  gap: 10px;
}

.hero-button {
  color: #ffffff;
  background: #4d5ae5;
  width: 169px;
  height: 56px;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* Секция # 2 "Advantages" */
.advantages {
  background-color: #fff;
  text-align: center;
}

.section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute; /* Полностью убираем элемент с экрана */
  width: 1px; /* Минимальная ширина */
  height: 1px; /* Минимальная высота */
  padding: 0; /* Убираем отступы */
  margin: -1px; /* Скрываем за пределами видимой области */
  overflow: hidden; /* Прячем содержимое */
  white-space: nowrap; /* Отключаем перенос текста */
  border: 0; /* Убираем границы */
}

.advantages-list {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0 156px;
}

/* Пункт списку */
.advantages-item {
  flex-basis: calc((100% - 3 * 24px) / 4); /* Ширина пункту */
  text-align: left; /* Текст по лівому краю */
}

.advantages-title {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  margin-bottom: 8px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}

.advantages-text {
  font-size: 16px;
  color: #434455;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

/* Секция # 3 "Наша команда" */
.team-section {
  text-align: center;
  margin-bottom: 120px;
  padding: 0;
  background-color: #f4f4fd;
  width: 100%;
  height: 732px;
}

/* Заголовок секции */
.team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize; /* Каждое слово с заглавной буквы */
  padding-top: 120px;
  padding-bottom: 72px;
}

/* Список участников */
.team-list {
  list-style: none; /* Убираем маркеры списка */
  margin: 0 auto; /* Центровка списка */
  display: flex;
  gap: 24px; /* Расстояние между карточками */
  padding: 0 156px;
}

/* Карточка участника */
.team-item {
  background-color: #ffffff; /* Белый фон */
  border-radius: 0px 0px 4px 4px; /* Скругленные углы */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); /* Тень карточки */
  text-align: center; /* Центровка текста */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Анимация при наведении */
  height: 100%;
}

.team-item:hover {
  transform: translateY(-5px); /* Поднятие карточки при наведении */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Усиленная тень */
}

/* Фото участника */
.team-photo {
  width: 100%;
  max-width: 264px; /* Ограничение ширины фото */
  margin: 0; /* Центровка и отступ снизу */
  object-fit: cover; /* Сохраняем пропорции изображения */
}

.team-text {
  border: 1px solid #ffffff; /* Граница 1px */
  padding-bottom: 32px; /* Внутренние отступы от границы */
  gap: 32px;
  text-align: center; /* Выравнивание текста по левому краю */
}
/* Имя участника */
.team-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* Роль участника */
.team-role {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
}
/* Секция # 4 "Портфолио" */
.portfolio-section {
  background-color: #fff;
  padding: 0 156px; /* Отступы слева и справа */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Список карточек */
.portfolio-list {
  list-style: none;
  display: grid; /* Используем Grid */
  grid-template-columns: repeat(3, 1fr); /* 3 карточки в ряд */
  gap: 24px; /* Расстояние между карточками */
  margin: 0 auto;
}

/* Заголовок секции */
.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  text-align: center;
}

/* Карточка */
.portfolio-item {
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 48px;
}

/* Фото карточки */
.portfolio-photo {
  width: 100%;
  height: auto; /* Сохраняем пропорции изображения */
  margin-bottom: 20px;
  object-fit: cover; /* Гарантируем правильное отображение */
}

/* Контейнер для текста внутри карточки */
.portfolio-text {
  border: 0px 1px 1px 1px solid #ffffff; /* Граница 1px */
  padding: 32px 16px; /* Внутренние отступы от границы */
  text-align: left; /* Выравнивание текста по левому краю */
}

/* Название продукта */
.portfolio-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

/* Описание продукта */
.portfolio-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

/* Контейнер Footer */
.footer {
  background: #2e2f42;
  width: 100%;
  height: 312px;
  padding: 101.5px 156px 100px 156px;
}

.footer-text {
  border: 1px solid #2e2f42; /* Граница 1px */
  padding: 0; /* Внутренние отступы от границы */
  text-align: left; /* Выравнивание текста по левому краю */
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700; /* Жирное начертание */
  font-size: 18px; /* Размер шрифта */
  line-height: 1.17; /* Межстрочное расстояние */
  letter-spacing: 0.03em; /* Отступы между буквами */
  text-transform: uppercase; /* Преобразование в верхний регистр */
  text-decoration: none; /* Убираем подчеркивание */
  color: #4d5ae5; /* Цвет первой части логотипа */
  display: block;
}

/* Вторая часть логотипа */
.footer-secondary {
  color: #f4f4fd; /* Цвет второй части логотипа */
}

.footer-description {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 16px;
}
