*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Общие стили */
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  padding: 0;
}

/* Контейнер Header */
.header-container {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.page-header {
  display: flex; /* Включаем flexbox */
  justify-content: space-between; /* Размещаем элементы по краям */
  align-items: center; /* Центрируем элементы по вертикали */
  max-width: 1200px; /* Ограничиваем ширину контейнера */
  margin: 0; /* Центрируем контейнер */
  padding: 0; /* Добавляем отступы */
  background: #fff; /* Цвет фона */
  height: 72px; /* Высота хедера */
}

/* Общие стили для логотипа */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  padding-left: 156px;
}

/* Вторая часть логотипа */
.logo-secondary {
  color: #2e2f42; /* Цвет второй части логотипа */
}

.main-menu {
  justify-content: center;
}

.menu-list {
  display: flex; /* Включаем горизонтальное размещение элементов */
  list-style: none; /* Убираем маркеры списка */
  margin: 0; /* Убираем внешние отступы */
  padding: 0; /* Убираем внутренние отступы */
  gap: 40px; /* Расстояние между пунктами меню */
  margin-left: 76px;
}

.menu-link {
  text-decoration: none; /* Убираем подчеркивание */
  color: #333; /* Цвет текста */
  font-size: 16px; /* Размер шрифта */
  font-weight: 500; /* Полужирное начертание */
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
  text-decoration: underline;
}

/* Список контактов */
.contact-list {
  list-style: none;
  font-style: normal;
  display: flex;
  gap: 40px; /* Расстояние между строками */
  margin: 0;
  padding: 0;
}

/* Элементы списка контактов */
.contact-item {
  display: flex;
}

/* Ссылки контактов */
.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  display: flex;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* Секция # 1 "Hero" */
.hero-section {
  background-color: #2e2f42;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 600px;
}

.hero-title {
  color: #fff;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  padding-top: 188px;
}

.hero-button {
  color: #ffffff;
  background: #4d5ae5;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  border: none;
  margin-top: 48px;
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  display: flex; /* Добавлено для gap */
  gap: 10px;
  border-radius: 4px 0 0 0;
  display: inline-block;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* Секция # 2 "Advantages" */
.advantages {
  padding: 40px 20px;
  background-color: #fff;
  text-align: center;
}

.visually-hidden {
  position: absolute; /* Полностью убираем элемент с экрана */
  width: 1px; /* Минимальная ширина */
  height: 1px; /* Минимальная высота */
  padding: 0; /* Убираем отступы */
  margin: -1px; /* Скрываем за пределами видимой области */
  overflow: hidden; /* Прячем содержимое */
  clip: rect(0, 0, 0, 0); /* Обрезаем содержимое */
  white-space: nowrap; /* Отключаем перенос текста */
  border: 0; /* Убираем границы */
}

.advantages-list {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 20px 0 0;
  padding: 0 156px;
}

.advantages-item {
  background-color: #fff;
  padding: 20px;
  text-align: left; /* Текст по левому краю */
  flex-basis: ((100% - 384px) / 4);
}

.advantage-title {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  margin-bottom: 8px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}

.advantage-text {
  font-size: 16px;
  color: #434455;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

/* Секция # 3 "Наша команда" */
.team-section-wrapper {
  background-color: #f4f4fd;
  width: 100%;
  height: 732px;
}

.team-section {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Заголовок секции */
.team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize; /* Каждое слово с заглавной буквы */
  margin-bottom: 120px; /* Отступ снизу */
}

/* Список участников */
.team-list {
  list-style: none; /* Убираем маркеры списка */
  padding: 0; /* Убираем внутренние отступы */
  margin: 0 auto; /* Центровка списка */
  display: flex;
  gap: 24px; /* Расстояние между карточками */
  padding: 0 156px;
}

/* Карточка участника */
.team-item {
  background-color: #ffffff; /* Белый фон */
  border-radius: 0px 0px 4px 4px; /* Скругленные углы */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); /* Тень карточки */
  text-align: center; /* Центровка текста */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Анимация при наведении */
  width: 264px;
  height: auto;
}

.team-item:hover {
  transform: translateY(-5px); /* Поднятие карточки при наведении */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Усиленная тень */
}

/* Фото участника */
.team-photo {
  width: 264px;
  height: 260px;
  max-width: 264px; /* Ограничение ширины фото */
  margin-bottom: 32px; /* Центровка и отступ снизу */
  object-fit: cover; /* Сохраняем пропорции изображения */
}

/* Имя участника */
.team-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px; /* Отступ снизу */
}

/* Роль участника */
.team-role {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 32px; /* Убираем лишние отступы */
}

/* Секция # 4 "Портфолио" */
.portfolio {
  background-color: #fff;
  text-align: center;
  padding: 0 156px;
}

/* Заголовок секции */
.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 40px;
}

/* Список карточек */
.portfolio-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 20px;
}

/* Карточка */
.portfolio-item {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

/* Фото карточки */
.portfolio-photo {
  width: 360px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

/* Название продукта */
.portfolio-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 10px;
}

/* Описание продукта */
.portfolio-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

/* Контейнер Footer */
.footer {
  background: #2e2f42;
  width: 100%;
  height: 312px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700; /* Жирное начертание */
  font-size: 18px; /* Размер шрифта */
  line-height: 1.17; /* Межстрочное расстояние */
  letter-spacing: 0.03em; /* Отступы между буквами */
  text-transform: uppercase; /* Преобразование в верхний регистр */
  text-decoration: none; /* Убираем подчеркивание */
  color: #4d5ae5; /* Цвет первой части логотипа */
  padding: 0 156px;
}

/* Вторая часть логотипа */
.footer-secondary {
  color: #f4f4fd; /* Цвет второй части логотипа */
}

.footer-description {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 0 156px;
}
